---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=39,150
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="12-McFqsA6Rb08SCgu3P2A", oauth_nonce="XXNiknqyQf7AWe6j0613vPQUEiYLfyvbvhodclmfok",
        oauth_signature="GULxSKXO3ulZXW8qvu1Zw5raCAY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401607440", oauth_token="SO3mGqTDpqnI3IoAfcdEiPV13l3gmY2m",
        oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Node:
      - web33, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "text": "API unavailable in this location",
            "id": "UNAVAILABLE_FOR_LOCATION"
          }
        }
  recorded_at: Sun, 01 Jun 2014 07:24:00 GMT
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=39,-150
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="12-McFqsA6Rb08SCgu3P2A", oauth_nonce="ersNWDsaJe8n3QqWTjBjKwDsZZjHz0xjvtjI7m09sk",
        oauth_signature="TVn0GWVg8UZhx%2BG%2FUemiJzLQcHY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401607579", oauth_token="SO3mGqTDpqnI3IoAfcdEiPV13l3gmY2m",
        oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Node:
      - web75-r7-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "text": "API unavailable in this location",
            "id": "UNAVAILABLE_FOR_LOCATION"
          }
        }
  recorded_at: Sun, 01 Jun 2014 07:26:22 GMT
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=39,-104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="12-McFqsA6Rb08SCgu3P2A", oauth_nonce="jkb6c7fWMnVuptujFCDt8oXU2FCGjujGCFxPouoxoJs",
        oauth_signature="jdfVyDLQ5U4N7MyddIECnx4JeNQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401607694", oauth_token="SO3mGqTDpqnI3IoAfcdEiPV13l3gmY2m",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web38, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: |-
        {
          "region": {
            "span": {
              "latitude_delta": 0.0,
              "longitude_delta": 0.0
            },
            "center": {
              "latitude": 39.0,
              "longitude": -104.0
            }
          },
          "total": 0,
          "businesses": [

          ]
        }
  recorded_at: Sun, 01 Jun 2014 07:28:15 GMT
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=39,-104&term=burgers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="12-McFqsA6Rb08SCgu3P2A", oauth_nonce="Yj8bSutOO4yNKIwmchuHG38j10yJptmeSjTLnS4w",
        oauth_signature="uxIPXWlvClEhZUnKV5bVcrH%2FDNw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401607851", oauth_token="SO3mGqTDpqnI3IoAfcdEiPV13l3gmY2m",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web38, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: |-
        {
          "region": {
            "span": {
              "latitude_delta": 0.21752570219621248,
              "longitude_delta": 0.9019660949705894
            },
            "center": {
              "latitude": 38.903650557217205,
              "longitude": -104.40998458862299
            }
          },
          "total": 190,
          "businesses": [
            {
              "is_claimed": true,
              "distance": 69273.62023230174,
              "mobile_url": "http://m.yelp.com/biz/crave-real-burgers-colorado-springs",
              "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
              "review_count": 124,
              "name": "Crave Real Burgers",
              "snippet_image_url": "http://s3-media2.ak.yelpcdn.com/photo/-Gkxub7Gz2LdMfkSw2oULw/ms.jpg",
              "rating": 4.0,
              "url": "http://www.yelp.com/biz/crave-real-burgers-colorado-springs",
              "location": {
                "city": "Colorado Springs",
                "display_address": [
                  "7465 N Academy Blvd",
                  "Colorado Springs, CO 80920"
                ],
                "postal_code": "80920",
                "country_code": "US",
                "address": [
                  "7465 N Academy Blvd"
                ],
                "state_code": "CO"
              },
              "menu_date_updated": 1401173286,
              "phone": "7192647919",
              "snippet_text": "Amazing, glorious food coma! I had the Cubano! So amazing. All of the flavors melded together amazing well. I was very impressed that I was able to finish...",
              "image_url": "http://s3-media3.ak.yelpcdn.com/bphoto/DTavYQGX-RjOaI_Q7tlRNA/ms.jpg",
              "categories": [
                [
                  "Burgers",
                  "burgers"
                ]
              ],
              "display_phone": "+1-719-264-7919",
              "rating_img_url_large": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
              "menu_provider": "single_platform",
              "id": "crave-real-burgers-colorado-springs",
              "is_closed": false,
              "rating_img_url_small": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png"
            },
            {
              "is_claimed": false,
              "distance": 69322.9671623366,
              "mobile_url": "http://m.yelp.com/biz/drifters-hamburgers-colorado-springs-2",
              "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
              "review_count": 20,
              "name": "Drifter's Hamburgers",
  [...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=39,-104&term=resturant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="12-McFqsA6Rb08SCgu3P2A", oauth_nonce="txMNacfTQdTD3SKtACom4NxgQs2NmCNw67nk8hRAE",
        oauth_signature="Y0YqO17eUDAc6x69WiGlxGWeeyI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401609594", oauth_token="SO3mGqTDpqnI3IoAfcdEiPV13l3gmY2m",
        oauth_version="1.0[...]
