---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=new%20york&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="SPgKsefhnm7TefMXVFyRYejab4RpsSThko1DU56Y", oauth_signature="Djodi2vS7NDRfjYdY%2B9ucsKC5xA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1401605876", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Node:
      - web67-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "text": "One or more parameters are missing in request",
            "id": "MISSING_PARAMETER",
            "field": "oauth_consumer_key"
          }
        }
  recorded_at: Sun, 01 Jun 2014 06:57:56 GMT
recorded_with: VCR 2.9.2
