<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Map</title>

  <link rel="stylesheet" href="http://js.arcgis.com/3.9/js/esri/css/esri.css">
  <script src="http://js.arcgis.com/3.9/"></script>

  <script>
    require(["esri/map"], function(Map) {
      var map;
      require(["esri/map", "esri/layers/FeatureLayer", "dojo/domReady!"], function(Map, FeatureLayer) { 
        map = new Map("mapDiv", {
          center: [-104.98, 39.73],
          zoom: 12,
          basemap: "streets"
        });
        var featureLayer = new FeatureLayer("http://services2.arcgis.com/p0ZMctqs29zvLCpq/arcgis/rest/services/statistical_neighborhoods/FeatureServer/0")
        map.addLayer(featureLayer);
      });
    });
  </script>

  <style>
    html, body, #mapDiv {
      padding: 0;
      margin: 0;
      height: 100%;
    }
  </style>

</head>

<body class="claro">
  <div id="mapDiv"></div>
</body>
